apiVersion: apps/v1
kind: Deployment
metadata:
  name: service-discovery
  namespace: ecommerce-dev
spec:
  replicas: 1
  selector:
    matchLabels:
      app: service-discovery
  template:
    metadata:
      labels:
        app: service-discovery
    spec:
      containers:
      - name: service-discovery
        image: localhost:5000/service-discovery:0.1.0
        imagePullPolicy: Always
        ports:
        - containerPort: 8761
        env:
        - name: SPRING_PROFILES_ACTIVE
          value: "dev"
        - name: SPRING_ZIPKIN_BASE_URL
          value: "http://zipkin:9411"
        - name: EUREKA_INSTANCE_PREFER_IP_ADDRESS
          value: "true"
        resources:
          requests:
            memory: "256Mi"
            cpu: "250m"
          limits:
            memory: "512Mi"
---
apiVersion: v1
kind: Service
metadata:
  name: service-discovery
  namespace: ecommerce-dev
spec:
  type: NodePort
  selector:
    app: service-discovery
  ports:
  - port: 8761
    targetPort: 8761
    protocol: TCP

