name: Prod, on PUSH Java CI/CD of proxy-client-ecommerce-boot, ecommerce-microservice-backend app

on:
  push:
    branches: [ master ]
    paths:
      - 'proxy-client/**'
      - 'pom.xml'
      - '.github/workflows/proxy-client-pipeline-prod-push.yml'
      - '.github/workflows/reusable-pr-pipeline.yml'
      - '.github/workflows/reusable-service-pipeline.yml'

jobs:
  pipeline:
    uses: ./.github/workflows/reusable-service-pipeline.yml
    with:
      service_name: proxy-client
      service_path: proxy-client
      dockerfile_path: proxy-client/Dockerfile
      environment: prod
      docker_image_name: proxy-client-ecommerce-boot
      skip_deploy: false
    secrets: inherit
